In [285]:
import pandas as pd

In [286]:
restaurant_df=pd.read_excel(r'Food_services.xlsx',sheet_name='Restaurant Spends and Share')
nonCommerical_df=pd.read_excel(r'Food_services.xlsx',sheet_name='Non Commercial')
retail_df=pd.read_excel(r'Food_services.xlsx',sheet_name='Retail Stores')

In [287]:
restaurant_df.head(3)

,NAME,CITY,STATE,ZIP,ZIP_PLUS4,COUNTY_CODE,COUNTY_NAME,MSA,MARKET_SEGMENT,SIMPLIFIED_MENU,...,AVERAGE_CHECK,NUMBER_OF_ROOMS,FOOD_BEVERAGE_PURCHASE,FOOD_PURCHASE,BEVERAGE_PURCHASE,TOTAL_CATEGORY_DRY,TOTAL_CATEGORY_FRESH,TOTAL_CATEGORY_FROZEN,TOTAL_CATEGORY_PROTEIN,% Share of F&B Purchases from Company
0,APPLEBEE'S,POTTSTOWN,PA,19464,NaN,42091.0,MONTGOMERY,6162.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,$10 TO $15,NOT APPLICABLE,597290.100988,545006.687015,52283.413973,73292.586865,96286.339607,124412.626443,212623.779075,0.578681
1,STANS RESTAURANT,SAN LEANDRO,CA,94577,3236.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,$15 TO $20,NOT APPLICABLE,39742.939174,36264.065946,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.339348
2,THANH THANH,OAKLAND,CA,94606,2978.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,$15 TO $20,NOT APPLICABLE,39742.939174,36264.065946,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.646409

In [288]:
restaurant_df.shape

(1000, 25)

In [289]:
print(restaurant_df.keys())

Index(['NAME', 'CITY', 'STATE', 'ZIP', 'ZIP_PLUS4', 'COUNTY_CODE',
       'COUNTY_NAME', 'MSA', 'MARKET_SEGMENT', 'SIMPLIFIED_MENU', 'MENU_TYPE',
       'UNITS', 'EMPLOYEES', 'YEARS_IN_BUSINESS', 'ANNUAL_SALES',
       'AVERAGE_CHECK', 'NUMBER_OF_ROOMS', 'FOOD_BEVERAGE_PURCHASE',
       'FOOD_PURCHASE', 'BEVERAGE_PURCHASE', 'TOTAL_CATEGORY_DRY',
       'TOTAL_CATEGORY_FRESH', 'TOTAL_CATEGORY_FROZEN',
       'TOTAL_CATEGORY_PROTEIN', '% Share of F&B Purchases from Company'],
      dtype='object')

In [290]:
restaurant_df.isnull().sum()

NAME                                       0
CITY                                       0
STATE                                      0
ZIP                                        0
ZIP_PLUS4                                 38
COUNTY_CODE                                1
COUNTY_NAME                                1
MSA                                      174
MARKET_SEGMENT                             0
SIMPLIFIED_MENU                            0
MENU_TYPE                                  0
UNITS                                      0
EMPLOYEES                                  0
YEARS_IN_BUSINESS                          0
ANNUAL_SALES                               0
AVERAGE_CHECK                              0
NUMBER_OF_ROOMS                            0
FOOD_BEVERAGE_PURCHASE                   111
FOOD_PURCHASE                            111
BEVERAGE_PURCHASE                        111
TOTAL_CATEGORY_DRY                       111
TOTAL_CATEGORY_FRESH                     111
TOTAL_CATEGORY_FROZEN                    111
TOTAL_CATEGORY_PROTEIN                   111
% Share of F&B Purchases from Company    111
dtype: int64

In [291]:
restaurant_df['MARKET_SEGMENT'].unique()

array(['FSR - TRADITIONAL RESTAURANTS, CASUAL DINING',
       'LSR - QUICK SERVICE RESTAURANTS, FAST FOOD, SNACKS',
       'LSR - QUICK CASUAL', 'LSR - COFFEE SHOPS, TEA HOUSES',
       'LSR - BUFFET RESTAURANTS', 'LSR - SMOOTHIE, JUICE',
       'FSR - CAFâ•”-RESTAURANTS, FAMILY-STYLE, DINER',
       'NEIGHBORHOOD BARS & TAVERNS',
       "BED & BREAKFAST, GUESTHOUSES, CHAMBRES D'HOTES",
       '2* HOTELS WITHOUT RESTAURANT-MIDSCALE',
       'LSR - ICE CREAM PARLORS, FROZEN DESSERTS',
       'FSR - UPSCALE CASUAL DINING RESTAURANTS',
       '3* HOTELS WITHOUT RESTAURANT-UPSCALE',
       'FSR - FINE DINING RESTAURANTS',
       'UNCODED HOTELS & MOTELS WITHOUT RESTAURANT',
       '1* HOTELS WITHOUT RESTAURANT-ECONOMY', 'SPORTS BARS',
       'LSR - DELIVERY AND TAKE AWAY ONLY', 'NIGHTLIFE VENUES',
       '4* HOTELS WITH RESTAURANT-UPPER SCALE',
       'EVENT CATERING, PARTY SERVICE',
       '4* HOTELS WITHOUT RESTAURANT-UPPER SCALE', 'RESORTS',
       'BREWPUBS, ENGLISH AND IRISH PUBS, MICRO-BREWERY, WITH LIMITED FOOD',
       'CAMPING, RV PARKS, CAMPGROUNDS', 'LSR - SELF SERVICE RESTAURANTS'],
      dtype=object)

In [292]:
category_market={
  'FSR - TRADITIONAL RESTAURANTS, CASUAL DINING':'FSR',
  'FSR - UPSCALE CASUAL DINING RESTAURANTS':'FSR',
  'FSR - FINE DINING RESTAURANTS':'FSR',
  'FSR - CAFâ•”-RESTAURANTS, FAMILY-STYLE, DINER':'FSR',
  'LSR - QUICK SERVICE RESTAURANTS, FAST FOOD, SNACKS':'LSR',
  'LSR - QUICK CASUAL':'LSR',
  'LSR - COFFEE SHOPS, TEA HOUSES':'LSR',
  'LSR - BUFFET RESTAURANTS':'LSR',
  'LSR - SMOOTHIE, JUICE':'LSR',
  'LSR - DELIVERY AND TAKE AWAY ONLY':'LSR',
  'LSR - ICE CREAM PARLORS, FROZEN DESSERTS':'LSR',
  'LSR - SELF SERVICE RESTAURANTS':'LSR',
  '2* HOTELS WITHOUT RESTAURANT-MIDSCALE':'Star Hotels',
  '3* HOTELS WITHOUT RESTAURANT-UPSCALE':'Star Hotels',
  '1* HOTELS WITHOUT RESTAURANT-ECONOMY':'Star Hotels',
  '4* HOTELS WITHOUT RESTAURANT-UPPER SCALE':'Star Hotels',
  '4* HOTELS WITH RESTAURANT-UPPER SCALE':'Star Hotels',
}
default_value='others'

In [293]:
restaurant_df['Market_Type']=restaurant_df['MARKET_SEGMENT'].map(category_market)
restaurant_df['Market_Type']=restaurant_df['Market_Type'].fillna(default_value)
restaurant_df['Market_Type'].value_counts()

Market_Type
LSR            480
FSR            409
others          73
Star Hotels     38
Name: count, dtype: int64

In [294]:
category_menu={
  'CLASSIC & VARIED MENU':'Italian',
  'PIZZA, PASTA & ITALIAN':'Italian',
  'OTHER ASIAN':'Asian',
  'CHINESE':'Asian',
  'SANDWICHES, SOUPS AND SALADS, DELI, SUBS & HOT DOG':'American',
  'CHICKEN':'American',
  'AMERICAN AND AMERICAN TRADITIONAL':'American',
  'HAMBURGERS':'American',
  'BAR & GRILL, BREW PUB, & EATERTAINMENT':'American',
  'AMERICAN REGIONAL':'American',
  'OTHER ETHNIC FOOD':'International/Ethinic',
  'MEXICAN':'International/Ethinic',
  'LATIN AMERICAN':'International/Ethinic',
  'EUROPEAN':'International/Ethinic',
  'BEVERAGES':'Specialty Menus',
  'SELECTION FOR LODGING AND BARS':'Specialty Menus',
  'BBQ':'Specialty Menus',
  'FROZEN DESSERT':'Desert/Snacks',
  'BAKERIES, BAGELS, DONUTS AND COFFEE & SNACKS':'Desert/Snacks'
}

In [295]:
restaurant_df['Per_Share _Holds']=(restaurant_df['% Share of F&B Purchases from Company']*100).round(2)
restaurant_df['Per_Share _Holds']=restaurant_df['Per_Share _Holds'].fillna(-1)
restaurant_df.head(2)

,NAME,CITY,STATE,ZIP,ZIP_PLUS4,COUNTY_CODE,COUNTY_NAME,MSA,MARKET_SEGMENT,SIMPLIFIED_MENU,...,FOOD_BEVERAGE_PURCHASE,FOOD_PURCHASE,BEVERAGE_PURCHASE,TOTAL_CATEGORY_DRY,TOTAL_CATEGORY_FRESH,TOTAL_CATEGORY_FROZEN,TOTAL_CATEGORY_PROTEIN,% Share of F&B Purchases from Company,Market_Type,Per_Share _Holds
0,APPLEBEE'S,POTTSTOWN,PA,19464,NaN,42091.0,MONTGOMERY,6162.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,597290.100988,545006.687015,52283.413973,73292.586865,96286.339607,124412.626443,212623.779075,0.578681,FSR,57.87
1,STANS RESTAURANT,SAN LEANDRO,CA,94577,3236.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,39742.939174,36264.065946,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.339348,FSR,33.93

In [296]:
bins=[-1,0,40,60,75,100]
label=['NoShare','Study','Attention','Focus','Apex']
restaurant_df['Performance_Category']=pd.cut(restaurant_df['Per_Share _Holds'],bins=bins,labels=label, include_lowest=True)
restaurant_df.head(3)

,NAME,CITY,STATE,ZIP,ZIP_PLUS4,COUNTY_CODE,COUNTY_NAME,MSA,MARKET_SEGMENT,SIMPLIFIED_MENU,...,FOOD_PURCHASE,BEVERAGE_PURCHASE,TOTAL_CATEGORY_DRY,TOTAL_CATEGORY_FRESH,TOTAL_CATEGORY_FROZEN,TOTAL_CATEGORY_PROTEIN,% Share of F&B Purchases from Company,Market_Type,Per_Share _Holds,Performance_Category
0,APPLEBEE'S,POTTSTOWN,PA,19464,NaN,42091.0,MONTGOMERY,6162.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,545006.687015,52283.413973,73292.586865,96286.339607,124412.626443,212623.779075,0.578681,FSR,57.87,Attention
1,STANS RESTAURANT,SAN LEANDRO,CA,94577,3236.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,36264.065946,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.339348,FSR,33.93,Study
2,THANH THANH,OAKLAND,CA,94606,2978.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,36264.065946,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.646409,FSR,64.64,Focus

In [297]:

restaurant_df['Per_Share _Holds']=restaurant_df['Per_Share _Holds'].replace({-1:None})
restaurant_df.isnull().sum()

NAME                                       0
CITY                                       0
STATE                                      0
ZIP                                        0
ZIP_PLUS4                                 38
COUNTY_CODE                                1
COUNTY_NAME                                1
MSA                                      174
MARKET_SEGMENT                             0
SIMPLIFIED_MENU                            0
MENU_TYPE                                  0
UNITS                                      0
EMPLOYEES                                  0
YEARS_IN_BUSINESS                          0
ANNUAL_SALES                               0
AVERAGE_CHECK                              0
NUMBER_OF_ROOMS                            0
FOOD_BEVERAGE_PURCHASE                   111
FOOD_PURCHASE                            111
BEVERAGE_PURCHASE                        111
TOTAL_CATEGORY_DRY                       111
TOTAL_CATEGORY_FRESH                     111
TOTAL_CATEGORY_FROZEN                    111
TOTAL_CATEGORY_PROTEIN                   111
% Share of F&B Purchases from Company    111
Market_Type                                0
Per_Share _Holds                         111
Performance_Category                       0
dtype: int64

In [298]:
nonCommerical_df.head(3)

,NAME,ADDRESS,CITY,STATE,ZIP,ZIP_PLUS4,COUNTY_CODE,COUNTY_NAME,MSA,MARKET_SEGMENT,...,ENROLLMENT_RANGE,CAPACITY_BEDS_RANGE,NUMBER_OF_SCHOOLS_RANGE,OPERATION_TYPE,OWNERSHIP_TYPE,NUMBER_OF_MEALS_PER_DAY_RANGE,AVERAGE_DAILY_CENSUS,PRIMARY_GPO,SECONDARY_GPO,TOTAL_PATIENT_DAYS
0,HERITAGE HALL NORTH NURSING HOME,55 COOPER ST,AGAWAM,MA,1001,2149.0,25013,HAMPDEN,1122.0,NURSING HOME,...,NOT APPLICABLE,101 TO 500,NOT APPLICABLE,UNCODED,PUBLIC,>2000,120.0,NaN,NaN,NaN
1,AGAWAM COUNCIL ON AGING SENIOR CENTER,68 MEADOWBROOK MNR,AGAWAM,MA,1001,3126.0,25013,HAMPDEN,1122.0,"SOCIAL AND PRIVATE CLUBS, LEGIONS, FRATERNITIES",...,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,UNCODED,UNCODED,51 TO 100,NaN,NaN,NaN,NaN
2,CENTER FOR EXTENDED CARE-AMHERST,150 UNIVERSITY DR,AMHERST,MA,1002,2232.0,25015,HAMPSHIRE,8000.0,NURSING HOME,...,NOT APPLICABLE,101 TO 500,NOT APPLICABLE,UNCODED,PUBLIC,>2000,125.0,NaN,NaN,NaN

In [299]:
nonCommerical_df['MARKET_SEGMENT'].unique()

array(['NURSING HOME', 'SOCIAL AND PRIVATE CLUBS, LEGIONS, FRATERNITIES',
       '4 YEAR COLLEGE & UNIVERSITIES',
       'CENTERS FOR REHABILITATION AND READAPTION, ADULT DAY CARE',
       'SCHOOL DISTRICTS', 'OTHER HEALTHCARE ESTABLISHMENTS',
       'PRIMARY SCHOOL', 'PRE-K, KINDERGARTEN, CHILD CARE',
       '2 YEAR COLLEGE & UNIVERSITIES', 'HOSPITALS', 'PRISONS',
       'ASSISTED LIVING', 'CENTERS FOR CHILDREN, SUMMER CAMPS',
       'TECHNICAL AND TRADE SCHOOLS', 'SECONDARY SCHOOL', 'SENIOR LIVING',
       'RUNAWAY & HOMELESS CENTERS', 'AFFILIATED BUILDINGS'], dtype=object)

In [300]:
nonCommerical_df['MARKET_SEGMENT'].value_counts()

MARKET_SEGMENT
NURSING HOME                                                 221
OTHER HEALTHCARE ESTABLISHMENTS                              135
SOCIAL AND PRIVATE CLUBS, LEGIONS, FRATERNITIES              118
SCHOOL DISTRICTS                                             103
PRE-K, KINDERGARTEN, CHILD CARE                               94
CENTERS FOR REHABILITATION AND READAPTION, ADULT DAY CARE     72
HOSPITALS                                                     62
4 YEAR COLLEGE & UNIVERSITIES                                 48
PRIMARY SCHOOL                                                44
CENTERS FOR CHILDREN, SUMMER CAMPS                            27
PRISONS                                                       24
2 YEAR COLLEGE & UNIVERSITIES                                 16
ASSISTED LIVING                                               10
TECHNICAL AND TRADE SCHOOLS                                    9
SECONDARY SCHOOL                                               8
AFFILIATED BUILDINGS                                           6
SENIOR LIVING                                                  2
RUNAWAY & HOMELESS CENTERS                                     1
Name: count, dtype: int64

In [301]:
NonCommercial_market_category = {
  '4 YEAR COLLEGE & UNIVERSITIES':"Educational Instituions",
  '2 YEAR COLLEGE & UNIVERSITIES':"Educational Instituions",
  'TECHNICAL AND TRADE SCHOOLS':"Educational Instituions",
  'PRIMARY SCHOOL':"Educational Instituions",
  'SECONDARY SCHOOL':"Educational Instituions",
  'PRE-K, KINDERGARTEN, CHILD CARE':"Educational Instituions",
  'NURSING HOME':"Healthcare",
  'HOSPITALS':"Healthcare",
  'ASSISTED LIVING':"Healthcare",
  'NURSING HOME':"Healthcare",
  'CENTERS FOR REHABILITATION AND READAPTION, ADULT DAY CARE':"Healthcare",
  'OTHER HEALTHCARE ESTABLISHMENTS':"Healthcare",
  'SOCIAL AND PRIVATE CLUBS, LEGIONS, FRATERNITIES':"Social Clubs",
  'CENTERS FOR CHILDREN, SUMMER CAMPS':"Social Clubs",
  'SENIOR LIVING':"Social Clubs",
  'AFFILIATED BUILDINGS':"Social Clubs",
  'SCHOOL DISTRICTS':"Government Services",
  'PRISONS':"Government Services",
  'RUNAWAY & HOMELESS CENTERS':"Government Services"
  }

In [302]:
nonCommerical_df['Market_Category']=nonCommerical_df['MARKET_SEGMENT'].map(NonCommercial_market_category)

nonCommerical_df['Market_Category'].value_counts()

Market_Category
Healthcare                 500
Educational Instituions    219
Social Clubs               153
Government Services        128
Name: count, dtype: int64

In [303]:
retail_df.head(3)

,NAME,CITY,STATE,ZIP,ZIP_PLUS4,COUNTY_CODE,COUNTY_NAME,MSA,market_segment2,units,EMPLOYEES,years_in_business,annual_sales
0,AZON LIQUORS,AGAWAM,MA,1001,1530.0,25013.0,HAMPDEN,1122.0,LIQUOR STORES,INDEPENDENT (1-9 UNITS),1 TO 4,UNCODED / DATA CURRENTLY UNAVAILABLE,"$500,001 - $1,000,000"
1,CUSTOM WINE ONLINE LLC,COVINGTON,KY,41011,2487.0,21117.0,KENTON,1642.0,LIQUOR STORES,INDEPENDENT (1-9 UNITS),1 TO 4,UNCODED / DATA CURRENTLY UNAVAILABLE,"$2,500,001 - $5,000,000"
2,BP,COVINGTON,KY,41011,1441.0,21117.0,KENTON,1642.0,GAS STATIONS,501+ UNITS,5 TO 9,UNCODED / DATA CURRENTLY UNAVAILABLE,UNCODED

In [304]:
retail_df['market_segment2'].unique()

array(['LIQUOR STORES', 'GAS STATIONS',
       'GROCERY STORES (LIMITED CHANNEL DISTRIBUTOR)', 'MEAT MARKET',
       'CONVENIENCE STORES', 'FRUIT AND VEGETABLE MARKETS',
       'CONFECTIONERS', 'OTHER FOOD SPECIALIST RETAILERS',
       'FISH & SEAFOOD MARKET'], dtype=object)

In [305]:
retail_market_category={
  'LIQUOR STORES':'Beverage',
  'GAS STATIONS':'Beverage',
  'GROCERY STORES (LIMITED CHANNEL DISTRIBUTOR)':'Grocery',
  'CONVENIENCE STORES':'Grocery',
  'MEAT MARKET':'Food',
  'FRUIT AND VEGETABLE MARKETS':'Food',
  'CONFECTIONERS':'Food',
  'OTHER FOOD SPECIALIST RETAILERS':'Food',
  'FISH & SEAFOOD MARKET':'Food',
}

In [306]:
retail_df['Market_Category']=retail_df['market_segment2'].map(retail_market_category)

In [307]:
retail_df['Market_Category'].value_counts()

Market_Category
Grocery     661
Beverage    204
Food        136
Name: count, dtype: int64

In [308]:
restaurant_df.to_csv('Restaurant spends and share.csv',index=False)

In [309]:
nonCommerical_df.to_csv('Non Commercial.csv',index=False)

In [310]:
retail_df.to_csv('Retail.csv',index=False)